* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4f4c47;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    z-index: 1000;
}

.kontakt, .merch, .hem {
    background-color: #32312f;
    outline: 1px solid black;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

.image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    --object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    z-index: 10;
}
