* {
    padding: 0;
    margin: 0;
    outline: 1px dotted red;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: auto; /* Möjliggör horisontell scroll */
    overflow-y: hidden; /* Förhindrar vertikal scroll */
    box-sizing: border-box;
}

.box {
    display: flex;
    height: 100vh; /* Full höjd */
    width: 200vw; /* Breddar boxen så att vi kan scrolla horisontellt */
}

.bild {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; /* En hel vybredd */
    height: 100vh;
    overflow: hidden;
}

.bild img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    width: 30vw; /* Info-sektionen tar upp en vybredd */
    background-color: #571d1d;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Säkerställ att den inte orsakar vertikal scroll */
    overflow: hidden; /* Säkerställer att inget innehåll i .info skapar scroll */
}
