* {
    padding: 0;
    margin: 0;
    outline: 1px dotted red;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: auto; /* Möjliggör horisontell scroll */
    overflow-y: hidden; /* Förhindrar vertikal scroll */
    box-sizing: border-box;
}

.box {
    display: flex;
    height: 100vh; /* Full höjd */
    width: 200vw; /* Breddar boxen så att vi kan scrolla horisontellt */
}

.bild {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bild img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    width: 30vw; /* Info-sektionen tar upp en vybredd */
    background-color: #919713;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Säkerställ att den inte orsakar vertikal scroll */
    overflow: hidden; /* Säkerställer att inget innehåll i .info skapar scroll */
    align-items: center;
    justify-content: center;
}
.knappbox{
    width: 15vw;
    height:30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.merch,.kontakt{
    display: flex;

}

a{
    color: black;
    font-size: 25px;
    font-family: "roboto",sans-serif;
    text-decoration: none;
    background-color: #f7d08d;  
    border-radius: 20px;
    
}